* {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  text-align: center;
  width: 3%;
  background-color: #ffffff;
}

.sidebar img {
  width: 50%;
  padding-top: 40%;
  margin: 10%;
}

.sidebar hr {
  width: 60%;
  height: 1px;
  background-color: #2d4c6a;
  margin-bottom: 30%;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
  background-color: #e3e4e4;
  border-right: 1px solid #e2e2e2;
}

.navbar .logo {
  text-align: center;
  width: 80%;
  background-color: #fafafa;
  border-radius: 5px;
  margin-top: 10%;
}

.logo img {
  width: 90%;
}

.title h1 {
  color: #2d4c6a;
  font-weight: 400;
}

.navbar .home-caption {
  text-align: center;
  width: 80%;
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 3px;
  border: 1px solid #e2e2e2;
  margin-bottom: 20%;
}

.navbar .dashboard-caption {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 5%;
  padding: 10px 0 10px 0;
}

.navbar .layout-caption {
  width: 100%;
}

.main {
  width: 85%;
  background-color: #ffffff;
}
